<!DOCTYPE html>
<html lang="ru">
    <head>

      <title></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.css">



      <!-- Добавление дополнительного статического CSS файла -->
      

      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
      <!-- UIkit CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}">

      {% block head %}

      {% endblock %}

      

    <body>
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/">KNN site</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>             
                        {% if user.is_authenticated %}
                        <a href="{{ user.get_absolute_url }}" style="display:inline;"> {{ user.username }}</a>
                        

                        <a class="" href="#modal-sections" style="display:inline;" uk-toggle>ВЫЙТИ</a>

                        <div id="modal-sections" uk-modal>
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-modal-header">
                                    <h2 class="uk-modal-title">Вы действительно хотите выйти?</h2>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Нет</button>
                                    <a href="{% url 'logout' %}" class="uk-button uk-button-primary" > Да </a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <a href="{% url 'login' %}">ВОЙТИ</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <header class="d-flex flex-column align-items-center uk-margin-bottom uk-text-large">
                <div class="uk-text-justify">
                    <h1 class="uk-text-uppercase">{% block title %}

                            {% endblock %}</h1>
                </div>
        </header>
        

        {% block content %}

        {% endblock %}

        <div class="container button-box" style="">
          {% block buttons %}

          {% endblock %}
        </div>

        

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        
        {% block script %}

        {% endblock %}
    </body>
</html>
