{% extends "base_generic.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block title %}
    Список активных предложений
{% endblock %}

{% block content %}

    <div class="container">

        {% for post in posts %}
            {% include 'includes/card.html' %}
        {% endfor %}

    </div>

{% endblock %}


{% block buttons %}

{% if user.is_local_admin or user.is_staff %}
    <a href="{% url 'post_create' %}" class="uk-icon-button nav-button" uk-icon="icon: plus; ratio: 2">  </a>
{% endif %}

{% endblock %}


{% block script %}

{% endblock %}
