{% extends "base_generic.html" %}


{% block title %}

{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{obj.get_review_url}}" method="POST">
            {% csrf_token %}
            
            {% for field in form %}

            <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        
                        {% for err in field.errors %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{err}}
                            </div>

                        {% endfor %}
                    
                    {% endif %}
            </div>

            {% endfor %}

            <button type="submit" class = "btn btn-primary"> Submit </button>
        </form>
    </div>


{% endblock %}